

.container {
    display: flex;
    flex-direction: column;
    height: calc(92vh - 80px);
    overflow: auto;
    gap: 20px;
    padding-right: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #1C1C21;
    user-select: none;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredient {
    margin-left: -10px;
    position: relative;
    left: 10px;
    background: #131316;
    width: 64px;
    height: 64px;

    background: linear-gradient(#131316, #131316) padding-box,
        linear-gradient(to right, #801AB2, #4C4CFF) border-box;
    border-radius: 50%;
    border: 2px solid transparent;
}

.img {
    position: relative;
    top: 15px;
    width: 100%;
    height: auto;
    transform: scale(1.5);
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}