.profileContainer {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.profileContent {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
    gap: 50px;
}

.profileRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navElement {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer;
}

.navContainer {
    max-width: 300px;
}

.logout {
    padding: 0;
    text-align: left;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}