

.appContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    height: 5vh;
}

.buttonHeader {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}