
.header {
    display: flex;
    background-color: #1C1C21;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
}

.appContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonHeader {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
